extends layout/main-layout

block active-item
  - firstMenu['Elements']['active'] = 1
  - firstMenu['Elements']['S']['Dropdown']['active'] = 1


block content
  
  h3 Dropdown Animations
    br
    small Extends the dropdown effects when open just adding 
      code [data-play]

  - var animations = ['slideExpandUp','expandUp','expandOpen','bigEntrance','hatch','floating','tossing','pullUp','pullDown','stretchLeft','stretchRight','pulseSlow','floatingHor','fadeInQuick','fadeInQuickInv','fadeInQuick2','fadeInQuick2Inv','fadeIn360','bounce','flash','pulse','rubberBand','shake','swing','tada','wobble','bounceIn','bounceInDown','bounceInLeft','bounceInRight','bounceInUp','bounceOut','bounceOutDown','bounceOutLeft','bounceOutRight','bounceOutUp','fadeIn','fadeInDown','fadeInDownBig','fadeInLeft','fadeInLeftBig','fadeInRight','fadeInRightBig','fadeInUp','fadeInUpBig','fadeOut','fadeOutDown','fadeOutDownBig','fadeOutLeft','fadeOutLeftBig','fadeOutRight','fadeOutRightBig','fadeOutUp','fadeOutUpBig','flip','flipInX','flipInY','flipOutX','flipOutY','lightSpeedIn','lightSpeedOut','rotateIn','rotateInDownLeft','rotateInDownRight','rotateInUpLeft','rotateInUpRight','rotateOut','rotateOutDownLeft','rotateOutDownRight','rotateOutUpLeft','rotateOutUpRight','hinge','rollIn','rollOut','zoomIn','zoomInDown','zoomInLeft','zoomInRight','zoomInUp','zoomOut','zoomOutDown','zoomOutLeft','zoomOutRight','zoomOutUp']
  // START row
  .row
    - each val in animations
      .col-md-3
        +build-anim-panel(val)
  // END row

  //- bottom space for latest dropdowns
  br
  br
  br
  br
  br


mixin build-anim-panel(animation)
  // START box placeholder
  .box-placeholder
    // START button group
    .btn-group    
      button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', data-play="#{animation}")
        = animation
        |  
        b.caret
      ul.dropdown-menu
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li
          a(href='#') Separated link
    // END button group
  // END box placeholder