<div class="panel panel-default" ng-class="{ active: $state.includes('reviews.update'), 'csspinner traditional': ui.inProgress }">
  <div class="panel-heading">Edit review</div>

  <form role="form" name="updateForm">
    <div class="panel-body">
       <div class="form-group">
          <label>Full name *</label>
          <input class="form-control" type="text" ng-model="data.model.title" value="" placeholder="John Smith" required>
       </div>

       <div class="form-group">
          <label>Teaser *</label>
          <input class="form-control" type="text" ng-model="data.model.teaser" value="" placeholder="A short introduction" required>
       </div>

       <div class="form-group">
          <label>Body</label>
          <textarea class="form-control" type="text" ng-model="data.model.body" value="" rows="3" placeholder="body text"></textarea>
       </div>

       <div class="form-group">
         <label>Photo</label>

         <div class="well">
           <p>
             <div class="row">
               <div ng-repeat="picture in ui.pictures" class="image col-sm-6">
                 <img ng-if="picture" ng-src="{{picture}}" class="img-responsive img-thumbnail" alt="{{data.model.Title}} - {{$index}}" width="100%">
                 <button type="button" class="btn btn-danger btn-xs pull-right" style="top: -28px; position: relative; right: 5px;" ng-click="deleteImage($index)">
                   <span aria-hidden="true">&times;</span>
                   <span class="sr-only">Close</span>
                 </button>
               </div>
             </div>
             <style>
               .row > div.image:nth-child(odd) {clear: both;}
             </style>
           </p>

           <p>
             <button ng-if="ui.picture" type="button" class="btn btn-danger btn-xs" ng-click="deleteImage(page)">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">Close</span>
             </button>
           </p>
           <div ng-file-drop="onFileSelect($files)"
                ng-file-select="onFileSelect($files)"
                ng-file-drag-over-class="bg-success"
                ng-show="dropSupported"
                class="drop-box">
                drop an image here<br>
                or click to select a file
           </div>

           <div ng-file-drop-available="dropSupported=true"
                ng-show="!dropSupported">
                HTML5 Drop File is not supported!
                <input type="file" name="image" ng-file-select="onFileSelect($files)">
           </div>

           <div class="progress">
             <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{ui.progress}}%">
               {{ui.progress}}% Complete
             </div>
           </div>

         </div> <!-- /.well -->


       </div>

       <div class="required">* Required fields</div>
    </div>
    <div class="panel-footer">
      <button ng-disabled="(updateForm.$valid) ? false : true" class="btn btn-success" ng-click="update()">Update</button>
      <button ui-sref="reviews.details({id: data.model._id})" class="btn btn-warning">Cancel</button>
    </div>
  </form>

</div>
